@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default;
}

@theme {
	--color-forest: #2d5016;
	--color-forest-light: #3a6b1e;
	--color-meadow: #7cb342;
	--color-meadow-light: #9ccc65;
	--color-cream: #f5f2eb;
}
